variables:
  WAIM_NEXUS_IMAGE_NAME: waim/client
  WAIM_NEXUS_FULL_IMAGE: $CREPEN_NEXUS_REPO/$WAIM_NEXUS_IMAGE_NAME

stages:
  - build
  - deploy
  - sync



before_script:
  - echo "$WAIM_NEXUS_PASSWORD" | docker login $CREPEN_NEXUS_REPO -u $WAIM_NEXUS_ID --password-stdin

after_script:
  - docker logout $CREPEN_NEXUS_REPO

build-image:
  stage: build
  script:
    - echo "Building Docker Image..."
    - >
      docker build 
      -t $WAIM_NEXUS_FULL_IMAGE:$CI_COMMIT_SHORT_SHA
      -t $WAIM_NEXUS_FULL_IMAGE:latest 
      -f apps/web/Dockerfile .
    - echo "Pushing Image to Nexus...."
    - docker push $WAIM_NEXUS_FULL_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $WAIM_NEXUS_FULL_IMAGE:latest

deploy-container:
  stage: deploy
  script:
    - docker compose up -d --force-recreate --build


sync-to-github:
  stage: sync
  script:
    - git remote remove github || true
    - git remote add github https://project_settings:$GITHUB_WAIM_CLIENT_TOKEN@$GITHUB_WAIM_CLIENT_REPO
    - git push github HEAD:$CI_COMMIT_REF_NAME --force
  only:
    - master
