:root {
    --crp-window-height: 100vh;
    --crp-header-height: 4.8rem;
    --crp-content-height: calc(var(--crp-window-height) - var(--crp-header-height));
}


html {
    font-size: 62.5%;

    &,
    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;
    }

    body {
        font-size: 1.6rem;
        font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

        #root {
            width: 100%;
            height: 100%;
        }
    }


    * {
        box-sizing: border-box;
    }
}

