.layout.main-layout {
    width: 100%;
    min-height: 100dvh;
    // background-color: black;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        'nav header'
        'nav main'
    ;

    gap: .8rem;

    header {
        grid-area: header;
        margin: 0.8rem 0.8rem 0 0;
        border-radius: .6rem;
        // background-color: black;
        padding: 0.8rem;
    }

    nav {
        grid-area: nav;

        margin: 0.8rem 0 0.8rem 0.8rem;
        padding: 0.8rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: .6rem;

        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 0.8rem;

        .nav-item {
            border-radius: .6rem;
            padding: 0.8rem;


            &.nav-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    display: block;
                    padding: 0;
                    margin: 0;
                    border: none;
                    background-color: transparent;
                    font-size: 2rem;

                    cursor: pointer;
                }
            }

            .nav-menu {
                cursor: pointer;
                display: grid;

                grid-template-columns: auto 1fr;
                grid-template-areas: 'icon title';
                column-gap: 0.4rem;
                border-radius: .6rem;

                padding: 0.6rem;

                transition: 0.1s background-color;


                .menu-icon {
                    grid-area: icon;
                    vertical-align: middle;
                }

                .menu-title {
                    grid-area: title;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-weight: bold;
                }



                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }





    }

    main {
        grid-area: main;
        padding: 0.8rem;
        // background-color: black;
        margin: 0 .8rem .8rem 0;
        border-radius: .6rem;




        .sub-page-template{
            .page-title {
                font-weight: bold;
                font-size: 2.0rem;
                margin-bottom: 1.0rem;
            }

            .page-content {

            }
        }
    }

}