#root .main-layout {
    .main-layout-header {
        padding: 8px 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .main-layout-nav {
        width: 160px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        .menu-list {
            width: 100%;
            flex-grow: 1;

        }

        .action-list {
            width: 100%;
            flex-grow: 0;
        }
    }

    .main-layout-content {
        .crp-main-container{
            height: 100%;

            .crp-main-container-header{
                padding: 8px 12px;
            }

            .crp-main-container-content{
            }
        }
    }
}