.section-box.sign-in-page {
    .section-title {
        width: 100%;
        text-align: center;
        padding-block: 2.0rem;
        user-select: none;

        h1 {
            font-size: 3.0rem;
            font-weight: bold;
            letter-spacing: 4px;
            margin-bottom: 1.0rem;
        }
    }

    .sign-in-form {
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            input {
                width: 100%;
                margin-bottom: 0.8rem;
                padding: 0.8rem;
                font-size: 1.5rem;
                border: 1px solid #bdbdbd;
                border-radius: 0.4rem;


            }

            button {
                width: 100%;
                margin-block: 1.2rem;
                cursor: pointer;
                padding-block: 0.8rem;

                &:hover {
                    
                }
            }
        }
    }
}